@import "partials/_colors";
@import "partials/_fonts";
@import "partials/_mixins";

$imgPath: "../assets/img";

body, * {
	font-family: $roboto;
}

body {
	background: url("#{$imgPath}/ref.png") top left no-repeat;
}

.navbar .content {
	width: 100%;
}

.nav {
	width: 100%;
	top: 44px; // remover
	position: relative; // remover

	.container {}
	@include gradient-str(#66b100, "#66b100, #338800 60%, #56a100");

	li {
		height: 42px;
		min-width: 98px;
		a {height: 42px; color: white; font-size: 16px; padding-top: 9px; text-align: center;}
		a:hover {
			background-color: inherit;
		}
	}
	li::after { content: " | "; position: absolute; top: 5px; right: 0; height: 12px; color: white; font-size: 21px;}

	li a::last-child::after {
		content: "";
	}
}

.container {
	padding: 0;
}
