@import "http://fonts.googleapis.com/css?family=Roboto";
$roboto: "Roboto", Helvetica, Arial, sans-serif;

@import "http://weloveiconfonts.com/api/?family=fontawesome";

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif
}