/* --------------------------------------------
   < 1200px viewport
-------------------------------------------- */
@media (max-width: 1200px) {

}


/* --------------------------------------------
  iPad in landscape
-------------------------------------------- */
/*
	TO PREVIEW ON THE DESKTOP, REPLACE THE QUERY WITH THE FOLLOW:
	@media (max-width: 1024px) {  }
*/
@media (max-device-width: 1024px) and (orientation: landscape) {

}


/* --------------------------------------------
  iPad in portrait
-------------------------------------------- */

/*
	TO PREVIEW ON THE DESKTOP, REPLACE THE QUERY WITH THE FOLLOW:
	@media (max-width: 768px) {  }
*/
@media (max-device-width: 1024px) and (orientation: portrait) {

}


/* --------------------------------------------
  Mobile
-------------------------------------------- */
@media (max-width: 600px) {

}